@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Marko+One&family=Monoton&family=Roboto&display=swap');
body{
  overscroll-behavior: none;
}

:root {
  --animate-duration: 500ms;

}


.hover {
  transition: all 0.9s ease;
}

.hover:hover {
  transform: scale(1.04);
  filter: brightness(110%);
  filter: contrast(110%);
  transition: 0.5s ease;
}


.text-shadow {
  color: aliceblue;
  text-shadow: 1px 1px black, 0px 0px 5px rgba(250, 128, 114, 0.719);
  font-weight: bold;
  letter-spacing: 0.08rem;
}



#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
